*
 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;   
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.grid {
    max-width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    //background-color: orange; 
  }


.row {
    max-width: 1140px;
    max-width: 100%;
    margin-bottom: 20px;
    //display: flex;
}

.container {
    //background-color: pink;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/chicagomap.png);
    //background-image: linear-gradient(rgba(255,185,0,0.7), rgba(0,0,0,0.7)), url(images/chicagomap.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-attachment: fixed;
}


 // header {
 //     background-color: rgba(255,185,0,0.7);

 // }

img {
    width: 100%;
    height: auto;
}
figcaption,
.truck-icons {
    font-size: 120%;
    color: #a00;
    //background-color: yellow;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // justify-content: space-between;

}
/*=====MEDIA QUERIES===*/