*
 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;   
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.grid {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    //background-color: orange; 
  }


.row {
    width: 100%;
    margin-bottom: 20px;
    //display: flex;
}

.container {
    //background-color: pink;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/chicagomap.png);
    //background-image: linear-gradient(rgba(255,185,0,0.7), rgba(0,0,0,0.7)), url(images/chicagomap.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-attachment: fixed;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

img {
    width: 100%;
    height: auto;
}
figcaption,
.truck-icons {
    font-size: 120%;
    color: #a00;
    //background-color: yellow;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // justify-content: space-between;

}

ul {
    padding: 0;
    //position: relative;
    width: 100%;
    margin: 10px 10px 30px;
}

ul li {
    list-style: none;
    display: inline-block;
    //float: left;
    //padding: 10px 20px;
    //color: #fff;
    border: 1px solid #fff;
    //margin-right: 15px;
    font-family: arial;
    text-transform: uppercase;
}


// .breakfast {
//     background: #2ecc71;
// }

// .lunch {
//     background: #f1c40f;
// }

// .dinner {
//     background: #3498db;
// }

// .late-eats {
//     background: #e74c3c;
// }

// .snacks {
//     background: #9b59b6;
// }






/*=====MEDIA QUERIES===*/